@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-image {
  position: fixed;
  top: 0;
  background-image: url('/bg-overlay.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  animation: bg-overlay infinite 10s alternate-reverse;
  z-index: -1;
  background-blend-mode: lighten;
}

.bg-gradient {
  position: fixed;
  top: 0;
  background: rgb(8, 0, 14);
  background: linear-gradient(
    0deg,
    rgba(8, 0, 14, 1) 0%,
    rgba(73, 0, 108, 1) 100%
  );
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  z-index: -2;
  animation: bg-gradient-overlay 5s infinite alternate;
  background-blend-mode: lighten;
}

@keyframes bg-overlay {
  0% {
    opacity: 60%;
    background-size: 110%;
    filter: brightness(100%);
  }
  50% {
    opacity: 100%;
    background-size: 100%;
    filter: brightness(160%);
  }
  100% {
    opacity: 60%;
    background-size: 110%;
    filter: brightness(100%);
  }
}

@keyframes bg-gradient-overlay {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 140%;
  }

  100% {
    background-size: 100%;
  }
}

.swayam-text:hover {
  background-size: 200%;
  background-position-x: -130%;
}
