@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.bg-move-right:hover {
  background-position: right center;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.purple-card-gradient {
  background: #03001e; /* fallback for old browsers */
  background: url('/images/purple-card-bg.jpeg') no-repeat center center;
}

.bg-image {
  position: fixed;
  top: 0;
  background-image: url('/bg-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100lvh;
  /* animation: bg-overlay infinite 10s alternate-reverse; */
  z-index: -2;
  filter: blur(5px);
}

.bg-gradient {
  position: fixed;
  top: 0;
  background: rgb(8, 0, 14);
  background: linear-gradient(0deg, rgb(16, 0, 30) 30%, rgb(123, 0, 180) 120%);
  height: 100dvh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100dvw;
  width: 100%;
  z-index: -2;
  opacity: 0.6;
  animation: bg-gradient-overlay 5s infinite alternate;
}

@media screen and (max-width: 768px) {
  .bg-image {
    animation: none;
  }
  .bg-gradient {
    animation: none;
  }
}

.light-container {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: color-dodge;
}

@keyframes bg-overlay {
  0% {
    opacity: 0.8;
    transform: scale(1.1);
    filter: brightness(150%);
  }
  50% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(200%);
  }
  100% {
    opacity: 0.8;
    transform: scale(1.1);
    filter: brightness(150%);
  }
}

@keyframes bg-gradient-overlay {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 140%;
  }

  100% {
    background-size: 100%;
  }
}

.swayam-text:hover {
  background-size: 200%;
  background-position-x: -130%;
}

.swayam-text-animation {
  width: 100%;
  animation: swayam-text-animation 3s ease infinite;
  background-size: 300% 300%;
  background-clip: text;
}

@keyframes swayam-text-animation {
  0% {
    background-position: 0% 50%;
    scale: 1;
    letter-spacing: 8px;
  }
  50% {
    background-position: 100% 50%;
    letter-spacing: 12px;
    scale: 101%;
  }
  100% {
    background-position: 0% 50%;
    letter-spacing: 8px;
  }
}

.blurred-lighting {
  position: absolute;
  width: 1400px; /* Adjust the width of the blurred lighting image as needed */
  height: 1400px; /* Adjust the height of the blurred lighting image as needed */
  background-image: url('/images/star-lighting.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  animation-duration: 30s; /* Adjust animation duration as needed */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.top-left {
  top: -90%;
  left: -50%;
  animation-name: moveYTopLeft;
}

.top-right {
  top: -90%;
  right: -50%;
  animation-name: moveYTopRight;
}

.bottom-left {
  bottom: -90%;
  left: -50%;
  animation-name: moveYBottomLeft;
}

.bottom-right {
  bottom: -90%;
  right: -50%;
  animation-name: moveYBottomRight;
}

@media screen and (max-width: 768px) {
  .blurred-lighting {
    width: 800px;
    height: 800px;
  }

  .top-left {
    position: absolute;
    top: 2px;
    left: -400px;
    animation-name: moveYTopLeft;
  }
  .top-right {
    position: absolute;
    top: 2px;
    right: -400px;
    animation-name: moveYTopRight;
  }
  .bottom-left {
    position: absolute;
    bottom: 200px;
    left: -400px;
    animation-name: moveYBottomLeft;
  }
  .bottom-right {
    position: absolute;
    bottom: 2px;
    right: -400px;
    animation-name: moveYBottomRight;
  }
}

@keyframes moveYTopLeft {
  0% {
    transform: translateY(0) rotate(0deg);
    filter: saturate(0);
  }
  50% {
    transform: translateY(100vh) rotate(360deg);
    filter: saturate(130%);
  }
  100% {
    transform: translateY(0) rotate(720deg);
    filter: saturate(0);
  }
}

@keyframes moveYTopRight {
  0% {
    transform: translateY(0) rotate(0deg);
    filter: saturate(0);
  }
  50% {
    transform: translateY(100vh) rotate(360deg);
    filter: saturate(100%);
  }
  100% {
    transform: translateY(0) rotate(720deg);
    filter: saturate(0);
  }
}

@keyframes moveYBottomLeft {
  0% {
    transform: translateY(0) rotate(0deg);
    filter: saturate(0);
  }
  50% {
    transform: translateY(-100vh) rotate(360deg);
    filter: saturate(0%);
  }
  100% {
    transform: translateY(0) rotate(720deg);
    filter: saturate(0);
  }
}

@keyframes moveYBottomRight {
  0% {
    transform: translateY(0) rotate(0deg);
    filter: saturate(0);
  }
  50% {
    transform: translateY(-100vh) rotate(360deg);
    filter: saturate(130%);
  }
  100% {
    transform: translateY(0) rotate(720deg);
    filter: saturate(0);
  }
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* thumb and track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* color of the scroll thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* color of the scroll track */
}

.main-event {
  &::before {
    position: absolute;
    content: '';
    top: 70px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 80%;
    width: 100%;
    opacity: 50%;
    border-radius: 20px;
    transform: scale(1.2) translateZ(0);
    filter: blur(25px);
    background: linear-gradient(
      to left,
      #ff5770,
      #e4428d,
      #c42da8,
      #9e16c3,
      #6501de,
      #9e16c3,
      #c42da8,
      #e4428d,
      #ff5770
    );
    background-size: 200% 200%;
    animation: animateGlow 2s linear infinite;
  }
}

@media screen and (min-width: 768px) {
  .main-event::before {
    opacity: 0.2;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
